// Custom styles.

// 设置背景图片
body {
    background:url(/images/background.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    //background-position:50% 50%;
    background-position:center;
    background-size:cover
}

#footer a {
        color:#eee;
}

.main-inner { 
    margin-top: 60px;
    padding: 30px 30px 30px 30px;
    background: #fff;
    opacity: 0.9;
    min-height: 500px;
}
